version: "3.8"

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.14.0
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
    ports:
      - "9200:9200"
    volumes:
      - esdata:/usr/share/elasticsearch/data

  kibana:
    image: docker.elastic.co/kibana/kibana:8.14.0
    container_name: kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch

  api:
    build: ./app
    container_name: api
    environment:
      - ELASTICSEARCH_URL=http://elasticsearch:9200
      - INDEX_ALIAS=sentiments
      - MODEL_BACKEND=vader
      - MODEL_NAME=distilbert-base-uncased-finetuned-sst-2-english
    volumes:
      - ./app:/app
    ports:
      - "8000:8000"
    depends_on:
      - elasticsearch

volumes:
  esdata: {}
